<mat-nav-list>
    <mat-list-item routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
    </mat-list-item>

    <mat-list-item>
        <mat-icon matListItemIcon>people</mat-icon>
        <span matListItemTitle>Users</span>
    </mat-list-item>

    <mat-list-item>
        <mat-icon matListItemIcon>shopping_cart</mat-icon>
        <span matListItemTitle>Orders</span>
    </mat-list-item>

    <mat-list-item>
        <mat-icon matListItemIcon>analytics</mat-icon>
        <span matListItemTitle>Reports</span>
    </mat-list-item>

    <mat-list-item>
        <mat-icon matListItemIcon>settings</mat-icon>
        <span matListItemTitle>Settings</span>
    </mat-list-item>
</mat-nav-list>